/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navbar styles */
  .navbar {
    margin-bottom: 0px;
     /* Khoảng cách giữa header và phần content */
  }
  
  /* Wrapper styles */
  .wrapper {
    display: flex;  
  }
  .section {
    padding: 10px;
    border: 2px solid white; /* Để dễ nhận biết */
  }
  
  .section-large {
    flex: 2; /* Phần lớn nhất */
    height: 600px;
    
    
  }
  .section-left{
    width: 160px;
    height: 600px;
    justify-content: center;
    border: solid gray;
  }
  
  
  .section-right{
    width: 160px;
    height: 600px;
    border: solid gray;
    background-image: url('https://insideupgames.com/wp-content/uploads/2020/05/Banner-160x600.png')";
  }
  
  .flex-box{
    height:40px;
    width: 130px;
    background-color: gray;
    color: black;
   }
   .flex-box h2 {
    font-size: 30px;
    }
   .flex-item{
  
    color: #0D6DFD;
    
   }
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}

.logo {
    margin: 0;
}

.product-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.product-image img {
    width: 300px;
    height: auto;
}

.product-info {
    margin-left: 50px;
    color: #333;
}

.product-name {
    font-size: 36px;
    margin-bottom: 20px;
}

.product-price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
}

.footer {
    background-color: #f8f8f8;
    padding: 20px 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.fixed-size-img {
    width: 300px; /* Độ rộng cố định */
    height: 300px; /* Chiều cao cố định */
    object-fit: cover; /* Đảm bảo hình ảnh không bị méo khi căn chỉnh kích thước */
}
.fixed-size-card {
    width: 300px;
    height: 300px; /* Độ rộng cố định của card */
}
